<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GL.iNet Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="google" value="notranslate">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="max-age=28800, must-revalidate" />
    <meta name="renderer" content="webkit">
    <link rel="stylesheet"
        href="src/static/css/lib.min.css?rev=f043eajnrnfjlkd34354rogfk23423nakjasdfhrupdktirngnfrjghkringjkfkfkoajhfhrbhn65456f432gj53lls2432ofdaslfrkmc65465407dasds96987jk26asd3148jiekojiriaj5246j34dqw53s4dfg5da22s2ag5675ads678673das4fjfasdghf5434wedasr5395ddaasdsdzxcxx9rioio245725ednigasd35453listd36ee2">
    <link rel="stylesheet"
        href="src/static/css/sb-admin.css?rev=49ea8ajnrnfjlk5644564frogfkakjrfjfdasnakjfhrupdktirngnfrjghkringjkfkfkoajhfh34hikfjrj4fww5ngj53dfgadsdgdgadfafp234324cekf45645injk263148jiekojiriaj5246jdisd2sda57567g22czx5ikkadss3424das5sdfs1wre5adsd3asd453s5adsdasd45g95asdsdg54648riuo8qdw5725edn34534igasdliste23be2">
    <link rel="stylesheet"
        href="src/static/css/adapter.css?rev=9fc20ajnrnfjl435364rpfrogfkakjrfjfnakjfhrupdktirngnfrjghkringjkfkfkoajhfhrb354456ngj53llsjf22pdsaqdfads2432mcedasd5fwef56h23424k263148jiekojiriaj5246jdirik946saddsaas3567567tradse46778d3454ads35fwerss96sddasdasasd34589xdascz45725ednigasdli345345st9edqwdq62">
    <script
        src="src/lib/eval2.js?rev=95b51ajnrnfjlkdkfgrkifrpfrogfkakjrfjfnakjfhrupdktirngnfrjghkringjkfkfkoajhfh34qdwdqw5hikfj655ivng423gjdasfpqosda234234mcekfhhdas546456njk26zxc8jiekojiriaj5246jdirdsaik94ddf54kjadshdas22sdf3453swerdasasadsdes55sda4fsd4uio5384sdfs5725e34534dniga5676asdta3d6cvsdfds">
    </script>
    <script
        src="src/lib/require.js?rev=5b086ajnr3534645grkifrpfrogfkakjrfjfnakjfhrupdktirngnfrjghkringjkfkfkoajhfhrbhnhikfjr7656v34sfsef3432d2sda34asd2pl23423445646dasinjk263sdf8jiekojiriaj5dqwd6jd345asasddasd5k94dsadsadfdhhh224dwredsaa3453sdasd96asduio95sfddfhgfgsfgsf124dwqq53453w25ednigas56756gh48sdfdsfb2">
    </script>
    <script
        src="src/config.js?rev=4d835ajnr45343543kifrpfrogfkdsaakjrfjfnakjfhrupdktirngnfrjghkringjkfkfkoajhfhrbhnh4543vndsasad432jfp2zdfdasgsaddfglfr234ek345435f234asd2injk263148jiekojiriaj5246j35675qw9asd46adsdfg56g22hjgaddsa35wer45sasdfjkjjh345s895sfdsfty8sdfsdf4sfesf5725ednigasdlist85a762">
    </script>
    <script
        src="src/main.js?rev=d5a8c342353lkdkfgrkifrpfrogfkaasdkjrfdasjfnakjfhrupdktirngnfrjghkringjkfkfkoajhfhrbh234ikf3fs432ngj5ads3llsjfpgdasdfgrkm243kfh243njk263148jiekojiriaj524634543kq5675dq5xczc6dghadsjgda22skjasdasddf34ads534fwer3453s4zxc9sdf1245725e54353dnigasdlist628b02">
    </script>
    <script
        src="src/lib/iconfont.js?rev=15be0ajnrnfjlkdkfgrkif2342fkakjrasdfjfn42asda3rupdktirngnfrjghkringjkfkfkoaj324hrb4324hikfjr34535ngj53llsasdjfdsdasaewrfp3242ekfhh324injk2sdf48jiekojiriaj5246j34asc675sdcdasd53asd5sdlka22sdasdasadkjjh3453rwe4kf21hgjrsefesfdf4353554sdfsd53841fds25ednigasdlistebc552">
    </script>
</head>

<body>
    <div id="app" v-cloak>
        <transition name="main-fade" mode="out-in">
            <!-- <loading v-if="loading"></loading> -->
            <!-- <gl-loading v-if="loading"></gl-loading> -->
            <indext></indext>
        </transition>
    </div>
</body>

</html>